 /*aplicação de fonte - google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*configurações gerais de estilos*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Quicksand', Arial, sans-serif;
}

a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

/* Estilização da barra de navegação */
#navbar{
    width: 55px;
    height: 5vh;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    background: rgba( 255, 255, 255, 0.1 );
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );   
}
#pseudo-nav{
    content: '';
    position: fixed;
    top: 0;
    width: 55px;
    height: 5vh;
    border-top: 1px solid #F04401;
}
#pseudo-nav.active {
    animation: nav_animation 0.5s ease forwards;
}
#btn{
    width: 50px;
    height: 50px;
    color: #d43328;
    filter: drop-shadow(2px 2px 3px #420184);
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}
#btn-hidden{
    animation: btn_animation 1.5s steps(5, start) infinite;
    transition: 400ms;
}
#navbar #menu{
    display: none;
}

#navbar.active{
    animation: nav_animation 0.5s ease forwards;
}
#navbar.active #menu{
   display: flex;
    animation: nav_item_animation 0s infinite forwards;
    animation-delay: .5s;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    color: transparent;
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px;
}
#navbar li:nth-child(2) a{
    width: 140px;
}
#navbar.active li a{
    animation: nav_item_animation .5s ease forwards;
    animation-delay: 0.5s;
}
#navbar a:hover{
    background-image: linear-gradient(135deg, #F04401, #420184) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    border-bottom: 1px solid #d43328;
}
#navbar a:first-child{
    margin-left: 10%;
}

/*estilização da seção inicial*/
#presentation{
    background-image: url(src/background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: 1s;
}
#presentation h1:nth-child(2){
    animation-delay: 2s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#presentation .cta{
    width: 270px;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    color: #f0743f;
    background-color: transparent;
    border: 2px solid #f0743f;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #f0743f;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #f0743f;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
#box-presentation{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba( 240, 116, 63, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 23% 77% 69% 31% / 49% 47% 53% 51%  ;
}
#box-presentation > *{
    margin-left: 75px;
}

/*estilização da sessão dos artigos e projetos*/
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    font-size: 4.5rem;
    font-weight: 500;
    color: #c6bad8;
    filter: drop-shadow(2px 2px 5px #0E100F);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.container-column{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.bg{
    background-image: linear-gradient(135deg, #f0743f, #d43328, #726cbc, #0d0f0e, #15122e);
    position: relative;
    z-index: 0;
}
.bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #000, #0c0c0c);
    opacity: 0.5;
    z-index: -1;
}

#articles .articles-header{
    margin-bottom: 30px; 
}
#articles .all-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}
#articles .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#articles .card-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}
#articles .card-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#articles .card-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#articles .card-info a{
    color: white;
    font-size: 2rem;
}
#articles .card-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#articles .card-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323C 0%, #485563 100%);
    opacity: 0.7;
}

#articles .card:hover .card-img img{
    transform: scale(1.1);
}

.card-info i:hover{
    background-image: linear-gradient(135deg, #F04401, #420184);
    -webkit-background-clip: text;
    color: transparent;
}

/*estilização do footer*/
footer{
    height: 100px;
    background-color: #15122e;
    display: flex;
    justify-content: center;
}
footer:first-of-type  > section{
    width: 100%;
    font-size: 1.5rem;
    display: none;
}
footer span:first-child{
    font-size: 2.2rem;
}
footer a{
    background-image: linear-gradient(135deg, #f0743f, #d43328, #726cbc, #0d0f0e);
    -webkit-background-clip: text;
    color: transparent;
}
#footer-mobile{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
}
.icon-footer{
    height: 50px;
    display: flex;
    justify-content: center;
    flex: 1 1 192px;
}
.icon-footer a{
    display: block;
    line-height: 50px;
}
.icon-footer-2{
    width: 50px;
    height: 50px;
    text-align: center;
}
.icon-footer-2 a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;

}

/*keyframes - animações do projeto*/
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #f0743f;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes btn_animation{
   to{
       visibility: hidden;
   }
}
@keyframes nav_animation {
    to{
        width: 100%
    }
}
@keyframes nav_item_animation {
    100%{
        color:#f0743f;
        filter: drop-shadow(1px 1px 2px #420184);
    }
}


/*media queries - definição do breakpoint e ações*/
@media only screen and (min-width: 790px){
    /*Alteração na seção de projetos e artigos*/
    #articles .card{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #articles .all-projects .card-info{
        height: 100%;
        
    }
    #articles .all-projects .card-img{
        height: 100%;
        
    }
    #articles .card:nth-child(even){
        flex-direction: row-reverse;
    }

    /*Alterações no rodapé*/
    footer{
        height: 150px;
    }
    footer:first-of-type > section{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    section#footer-mobile{
        display: none;
    }
    footer a{
        color: rgb(221, 201, 252);
    }
    footer a:hover{
        background-image: linear-gradient(135deg, #f0743f, #d43328, #726cbc, #0d0f0e);
        -webkit-background-clip: text;
        color: transparent;
    }
}